.logo-app {
  height: inherit !important;
}

.img-brand {
  width: 100px;
  height: auto;
}

.img-brand-edit {
  width: 300px;
  height: auto;
}

td {
  vertical-align: middle !important;
}

.img-circle.product {
  width: 50px !important;
  height: 50px !important;
  border-radius: 0 !important;
  border: 1px solid #fff
}

.widget-user-image.product {
  position: absolute;
  top: 10px;
  right: 10px;
  left: auto;
  margin-left: -45px;
}

.img-product {
  width: 100%;
}